albumentations
coremltools
cv_bridge
filterpy
Flask
ipython
ipython
matplotlib
numpy
onnx
onnxruntime
onnxsim
opencv_python
openvino
pafy
pandas
Pillow
pretrainedmodels
protobuf
psutil
psutil
PyYAML
PyYAML
Requests
scipy
seaborn
setuptools
scikit-image
tensorflow
tensorflowjs
tflite_runtime
thop
torch
torchvision
tqdm
val